<mat-toolbar class="weather-toolbar" color="primary"
  >Weather Forecast</mat-toolbar
>

<div class="weather-container">
  <mat-card class="weather-form">
    <mat-form-field appearance="fill">
      <mat-label>Enter the city name</mat-label>
      <input matInput [(ngModel)]="city" name="city" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="getWeatherData()"
      [disabled]="!city"
    >
      Get weather forecast!
    </button>
  </mat-card>
  <div class="weather-info" *ngIf="currentWeatherData">
    <h2 class="weather-info__title">Current weather in {{ displayCity }}</h2>
    <p class="weather-info__details">
      Temperature: {{ currentWeatherData.temp_c }}°C, Humidity:
      {{ currentWeatherData.humidity }}%, Pressure:
      {{ currentWeatherData.pressure_mb }} hPa, Cloudiness:
      {{ currentWeatherData.cloud }}%
    </p>
  </div>
</div>

<div class="weather-table">
  <table
    mat-table
    *ngIf="currentWeatherData && hourlyWeatherData"
    [dataSource]="hourlyWeatherData"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.time | date : "shortTime" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="temp">
      <mat-header-cell *matHeaderCellDef>Temperature</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.temp_c }} °C </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cloud">
      <mat-header-cell *matHeaderCellDef>Cloudiness</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.cloud }} % </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pressure">
      <mat-header-cell *matHeaderCellDef>Pressure</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.pressure_mb }} hPa
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="humidity">
      <mat-header-cell *matHeaderCellDef>Humidity</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.humidity }} % </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
</div>

<div *ngIf="hourlyWeatherData">
  <mat-button-toggle-group
    name="filter"
    aria-label="Filter"
    [(ngModel)]="selectedParameter"
    (change)="onFilterChange(selectedParameter)"
  >
    <mat-button-toggle value="temp">Temperature</mat-button-toggle>
    <mat-button-toggle value="pressure">Pressure</mat-button-toggle>
    <mat-button-toggle value="humidity">Humidity</mat-button-toggle>
  </mat-button-toggle-group>

  <app-weather-chart
    [hourlyData]="hourlyWeatherData"
    [parameter]="selectedParameter"
  ></app-weather-chart>
</div>

<!-- Without Angular Material -->

<!-- <div class="weather-toolbar">
  <h1>Weather Forecast</h1>
</div>

<div class="weather-container">
  <div class="weather-form">
    <label for="city">Enter the city name:</label>
    <input id="city" type="text" [(ngModel)]="city" />
    <button
      class="btn btn-primary"
      (click)="getWeatherData()"
      [disabled]="!city"
    >
      Get weather forecast!
    </button>
  </div>

  <div class="weather-info" *ngIf="currentWeatherData">
    <h2 class="weather-info__title">Current weather in {{ displayCity }}</h2>
    <p class="weather-info__details">
      Temperature: {{ currentWeatherData.temp_c }}°C, Humidity:
      {{ currentWeatherData.humidity }}%, Pressure:
      {{ currentWeatherData.pressure_mb }} hPa, Cloudiness:
      {{ currentWeatherData.cloud }}%
    </p>
  </div>
</div>

<div class="weather-table">
  <table *ngIf="currentWeatherData && hourlyWeatherData">
    <thead>
      <tr>
        <th>Time</th>
        <th>Temperature</th>
        <th>Cloudiness</th>
        <th>Pressure</th>
        <th>Humidity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of hourlyWeatherData">
        <td>{{ element.time | date : "shortTime" }}</td>
        <td>{{ element.temp_c }} °C</td>
        <td>{{ element.cloud }} %</td>
        <td>{{ element.pressure_mb }} hPa</td>
        <td>{{ element.humidity }} %</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="hourlyWeatherData" class="filter-group">
  <label>
    <input
      type="radio"
      name="filter"
      value="temp"
      [(ngModel)]="selectedParameter"
      (change)="onFilterChange(selectedParameter)"
    />
    Temperature
  </label>
  <label>
    <input
      type="radio"
      name="filter"
      value="pressure"
      [(ngModel)]="selectedParameter"
      (change)="onFilterChange(selectedParameter)"
    />
    Pressure
  </label>
  <label>
    <input
      type="radio"
      name="filter"
      value="humidity"
      [(ngModel)]="selectedParameter"
      (change)="onFilterChange(selectedParameter)"
    />
    Humidity
  </label>
</div>

<app-weather-chart
  *ngIf="hourlyWeatherData"
  [hourlyData]="hourlyWeatherData"
  [parameter]="selectedParameter"
>
</app-weather-chart> -->
